
    <div class="w-[1450px] h-[122px] left-[30px] top-[623px] absolute bg-black rounded-[20px] border-8 border-yellow-400"></div>
    <div class="w-[1450px] h-[154px] left-[30px] top-[762px] absolute bg-black rounded-[20px] border-8 border-yellow-400"></div>
    <div class="w-[170px] h-[70px] left-[50px] top-[647px] absolute bg-stone-800 rounded-[50px]">
      <div class="w-[170px] h-[70px] left-0 top-0 absolute bg-yellow-400 rounded-[50px]"></div>
      <div class="w-[140px] h-[47.12px] left-[15px] top-[20px] absolute text-center text-black text-[25px] font-normal font-['Inter'] cursor-pointer">INICIO</div>
    </div>
    <div class="w-[170px] h-[70px] left-[230px] top-[647px] absolute bg-stone-800 rounded-[50px]">
      <div class="w-[170px] h-[70px] left-0 top-0 absolute bg-yellow-400 rounded-[50px]"></div>
      <div class="w-[140px] h-[47.12px] left-[15px] top-[5px] absolute text-center text-black text-[22px] font-normal font-['Inter'] cursor-pointer">OFERTA EDUCATIVA</div>
    </div>
    <div class="w-[170px] h-[70px] left-[410px] top-[647px] absolute bg-stone-800 rounded-[50px]">
      <div class="w-[170px] h-[70px] left-0 top-0 absolute bg-yellow-400 rounded-[50px]"></div>
      <div class="w-[140px] h-[47.12px] left-[15px] top-[20px] absolute text-center text-black text-[22px] font-normal font-['Inter'] cursor-pointer">NOSOTROS</div>
    </div>
    <div class="w-[170px] h-[70px] left-[590px] top-[647px] absolute bg-stone-800 rounded-[50px]">
      <div class="w-[170px] h-[70px] left-0 top-0 absolute bg-yellow-400 rounded-[50px]"></div>
      <div class="w-[140px] h-[47.12px] left-[15px] top-[20px] absolute text-center text-black text-[22px] font-normal font-['Inter'] cursor-pointer">NOTICIAS</div>
    </div>
    <div class="w-[170px] h-[70px] left-[770px] top-[647px] absolute bg-stone-800 rounded-[50px]">
      <div class="w-[170px] h-[70px] left-0 top-0 absolute bg-yellow-400 rounded-[50px]"></div>
      <div class="w-[140px] h-[47.12px] left-[15px] top-[5px] absolute text-center text-black text-[22px] font-normal font-['Inter'] cursor-pointer">REDES SOCIALES</div>
    </div>
    <div class="w-[170px] h-[70px] left-[950px] top-[647px] absolute bg-stone-800 rounded-[50px]">
      <div class="w-[170px] h-[70px] left-0 top-0 absolute bg-yellow-400 rounded-[50px]"></div>
      <div class="w-[140px] h-[47.12px] left-[15px] top-[5px] absolute text-center text-black text-[22px] font-normal font-['Inter'] cursor-pointer">LISTA DE ÚTILES</div>
    </div>
   
    <div class="w-[160px] h-[70px] left-[1125px] top-[649px] absolute bg-stone-800 rounded-[50px]">
      <div class="w-[160px] h-[70px] left-0 top-0 absolute bg-yellow-400 rounded-[50px]"></div>
      <div class="w-[140px] h-[47.12px] left-[10px] top-[20px] absolute text-center text-black text-[25px] font-normal font-['Inter'] cursor-pointer">QR</div>
    </div>
    <div class="w-[170px] h-[70px] left-[1295px] top-[647px] absolute bg-stone-800 rounded-[50px]">
      <div class="w-[170px] h-[70px] left-0 top-0 absolute bg-yellow-400 rounded-[50px]"></div>
      <div class="w-[140px] h-[47.12px] left-[15px] top-[5px] absolute text-center text-black text-[22px] font-normal font-['Inter'] cursor-pointer">UESDC COMUNIDAD</div>
    </div>
    <div class="w-[1400px] h-[92px] left-[50px] top-[780px] absolute text-center text-yellow-400 text-[30px] font-extrabold font-['Inter'] tracking-widest">MEJORA LA VIDA DE TUS HIJOS<br/>COMIENZA A ESTUDIAR EN UNA DE LAS MEJORES UNIDADES EDUCATIVAS DEL PAIS</div>
