
    <div class="w-[1480px] h-[260px] left-[26px] top-[1740px] absolute bg-yellow-400 rounded-[20px] border-4 border-black"></div>
    <div class="w-[350px] h-40 left-[350px] top-[1760px] absolute bg-black rounded-[20px] border-4 border-white"></div>
    <div class="w-[500px] h-40 left-[900px] top-[1760px] absolute bg-black rounded-[20px] border-4 border-white"></div>
    <div class="w-[936px] h-36 left-[60px] top-[1768px] absolute text-center text-yellow-400 text-xl font-extrabold font-['Inter'] hover:underline cursor-pointer">Enlaces</div>
    <div class="w-[936px] h-36 left-[60px] top-[1798px] absolute text-center text-yellow-400 text-xl font-extrabold font-['Inter'] hover:underline cursor-pointer">Inscripciones</div>
    <div class="w-[936px] h-36 left-[60px] top-[1828px] absolute text-center text-yellow-400 text-xl font-extrabold font-['Inter'] hover:underline cursor-pointer">Academi Cloud</div>
    <div class="w-[936px] h-36 left-[60px] top-[1858px] absolute text-center text-yellow-400 text-xl font-extrabold font-['Inter'] hover:underline cursor-pointer">Filosofía Institucional</div>
    <div class="w-[936px] h-36 left-[60px] top-[1888px] absolute text-center text-yellow-400 text-xl font-extrabold font-['Inter'] hover:underline cursor-pointer">Cronograma de Actividades</div>
    <div class="w-[936px] h-36 left-[60px] top-[1918px] absolute text-center text-yellow-400 text-xl font-extrabold font-['Inter'] hover:underline cursor-pointer">Noticias</div>
    <div class="w-[973px] h-[119px] left-[660px] top-[1785px] absolute text-center text-yellow-400 text-[17px] font-extrabold font-['Inter'] hover:underline cursor-pointer">Contáctanos:<br/>Celular: (07) 289-1357<br/>Correo electrónico: scompostelaalfa©hotmail.com<br/>Dirección: La Florida S/N y Vicente Pacheco, Ricaurte, Ecuador</div>
    <div class="w-48 h-[0px] left-[800px] top-[1749px] absolute origin-top-left rotate-90 border-4 border-black"></div>
    <img class="w-[200px] h-[198px] left-[111px] top-[1760px] absolute rounded-[81px] border-4 border-black" src="assets/im6.jpg" />
    <div class="w-[500px] h-[47px] left-[528px] top-[1941px] absolute bg-yellow-400"></div>
    <div class="w-[1118px] left-[300px] top-[1947px] absolute text-center text-white text-opacity-80 text-3xl font-extrabold font-['Inter'] tracking-wider">Copyright © UEB "Santiago de Compostela"</div>
