
    <div class="w-[400px] h-[630px] left-[100px] top-[1014px] absolute bg-yellow-400 rounded-[20px] border-4 border-black"></div>
    <img class="w-[350px] h-[296px] left-[125px] top-[1027px] absolute rounded-[20px] border-4 border-black" src="assets/im3.jpg" />
    <div class="w-[400px] h-[630px] left-[550px] top-[1014px] absolute bg-yellow-400 rounded-[20px] border-4 border-black"></div>
    <img class="w-[350px] h-[296px] left-[575px] top-[1027px] absolute rounded-[20px] border-4 border-black" src="assets/im5.jpg" />
    <div class="w-[400px] h-[630px] left-[1000px] top-[1014px] absolute bg-yellow-400 rounded-[20px] border-4 border-black"></div>
    <img class="w-[350px] h-[296px] left-[1025px] top-[1027px] absolute rounded-[20px] border-4 border-black" src="assets/im4.jpg" />
    <div class="w-[360px] h-[274px] left-[120px] top-[1348px] absolute bg-black"></div>
    <div class="w-[360px] h-[274px] left-[570px] top-[1348px] absolute bg-black"></div>
    <div class="w-[360px] h-[274px] left-[1020px] top-[1348px] absolute bg-black"></div>
    <div class="w-[350px] h-[246px] left-[125px] top-[1380px] absolute text-center text-yellow-400 text-opacity-80 text-[19px] font-bold font-['Times New Roman']">La Unidad Educativa Particular Santiago de Compostela, buscando proporcionar a nuestros estudiantes una educación integral desde sus primeros pasos en nuestras aulas, pone a su consideración un ambiente apropiado.</div>
    <div class="w-[350px] h-[246px] left-[575px] top-[1380px] absolute text-center text-yellow-400 text-opacity-80 text-[17px] font-bold font-['Times New Roman']">Los estudiantes de este nivel sin dejar el aprendizaje lúdico, se continua con el aprendizaje de la corriente pedagógica “el constructivismo”. Se considera la progresión de estándares de calidad, dando énfasis en el aprendizaje de Computación e Inglés y continuando un aprendizaje integral con la participación en artes y deportes.</div>
    <div class="w-[350px] h-[246px] left-[1025px] top-[1378px] absolute text-center text-yellow-400 text-opacity-80 text-[21px] font-bold font-['Times New Roman']">La Unidad Educativa Particular Santiago de Compostela enfocada en la obtención de una categoría bilingüe, trabaja en todas las materias con un protocolo en inglés y trabajando con un 40% en el idioma.</div>

